<nav th:fragment="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/home" class="navbar-brand">Vox: Freedom Wall</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarMain">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Testing</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="/testing/posts" class="dropdown-item">Manage posts</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form th:action="@{/logout}" method="post">
                <button type="submit" class="dropdown-item">Sign Out</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>