<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vox: Home</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
</head>

<body>
  <div th:insert="~{fragments/navbar :: navbar}"></div>
  <div class="d-flex justify-content-center">
    <div style="width: 38rem">
      <form th:object="${post}" th:action="@{/api/add-post}" th:method="post" class="d-flex flex-column">
        <input th:field="*{title}" name="title" id="title" class="form-control" type="text" placeholder="Title">
        <textarea th:field="*{body}" name="body" id="body" class="form-control" rows="7" placeholder="What's on your mind?"></textarea>
        <button class="btn btn-primary ms-auto" type="submit">Post</button>
      </form>

      <div th:replace="~{fragments/placeholder :: post}"></div>
      <div th:replace="~{fragments/placeholder :: post}"></div>
      <div th:replace="~{fragments/placeholder :: post}"></div>
      <div th:replace="~{fragments/placeholder :: post}"></div>
    </div>

  </div>
</body>

</html>