<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vox: Home</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
</head>

<body>
  <div class="vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>no homepage yet 🥀🥀🥀</h1>
    <ul class="nav">
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
      <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/testing/posts" class="nav-link">Testing's Posts</a></li>
    </ul>
  </div>
</body>

</html>