<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vox Register</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body>
  <div class="vw-100 vh-100 d-flex justify-content-center align-items-center">
    <form th:action="@{/register}" method="post" th:object="${form}">
      <h3>Register</h3>
      <label for="username" class="form-label">New Username</label>
      <input th:field="*{username}" type="text" name="username" id="username" class="form-control">
      
      <label for="password" class="form-label">New Password</label>
      <input th:field="*{password}" type="password" name="password" id="password" class="form-control">

      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input th:field="*{confirmPassword}" type="password" name="confirmPassword" id="confirmPassword" class="form-control">

      <button class="btn btn-primary" type="submit">Register</button>
      <button class="btn btn-secondary" type="reset">Clear Fields</button>
    </form>
  </div>
</body>
</html>